* {
  margin: 0;
  padding: 0;
}
.body {
  background-color: #230649;
  min-height: 110vh;
}
.hidden {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-top: 25px;
  gap: 10px;
}
.title-logo {
  margin-top: -60px;
  width: 300px;
  height: 100px;
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
  width: 1150px;
  height: 85px;
  margin-top: 20px;
  margin-right: 30px;
  border: 0;
  border-radius: 10px;
  background: #9183a4;
}
#login-button {
  width: 60px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  background: #a098b7;
}
#login-button:hover {
  background-color: #c199c5;
}
#signup-button {
  width: 80px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  background: #a098b7;
}
#signup-button:hover {
  background-color: #c199c5;
}
#nav-cocktail-receipe {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 0;
  background: none;

  color: white;
}
#nav-cocktail-receipe:hover {
  background-color: #c199c5;
  color: #83338a;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  margin: -10px;
}
#nav-own-cocktail {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;

  color: white;
  border: 0;
  background: none;
}
#nav-own-cocktail:hover {
  background-color: #c199c5;
  color: #83338a;
  border-radius: 10px;
  padding: 10px;
  margin: -10px;
}
#nav-ingredient {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 0;
  background: none;
  color: white;
}
#nav-ingredient:hover {
  background-color: #c199c5;
  color: #83338a;
  border-radius: 10px;
  padding: 10px;
  margin: -10px;
}
#nav-search {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 0;
  background: none;
  color: white;
}
#nav-search:hover {
  background-color: #c199c5;
  color: #83338a;
  border-radius: 10px;
  padding: 10px;
  margin: -10px;
}
.best-cocktail-container {
  margin-top: 45px;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #000;
  background-color: #9183a4;
  border-radius: 10px;
}
.best-cocktail-button-container,
.best-own-cocktail-button-container {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #9183a4;
  flex-wrap: wrap;
}
.best-cocktail-button-container > button,
.best-own-cocktail-button-container > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  border: 0;
  border-radius: 20px;
  gap: 40px;
  margin-right: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
}
.best-cocktail-image,
.best-own-cocktail-image {
  display: flex;
  width: 160px;
  height: 130px;
  border-radius: 10px;
  background-color: #363333;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.best-cocktail-image > img,
.best-own-cocktail-image > img {
  height: 120px;
  width: auto;
}
.cocktail-summary {
  margin-top: -40px;
}
.cocktail-name {
  margin-top: -40px;
  font-size: 20px;
}
.login-signup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#best-cocktail-title {
  margin-left: 20px;
  display: inline-block;
  background-color: #dbd3dd;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}
#best-own-cocktail-title {
  margin-left: 20px;
  display: inline-block;
  background-color: #dbd3dd;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}
.best-own-cocktail-container {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #000;
  background-color: #9183a4;
  border-radius: 10px;
}
#best-cocktail-1-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
